* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
/* psedo-selector*/
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --sufarce-color: rgba(255, 255, 255, 0.5);
  --sufarce-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg)
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --sufarce-color: rgba(0, 0, 0, 0.5);
  --sufarce-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.1);
   --switch-bg-url: url(./assets/sun.svg)
}
body {
  background: var(--bg-url) no-repeat top center/cover;
  /* FUNDO DO PROJETO
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  /* agrupar backgound: color image repeat position/size* < propriedade chamada de short-hand ou atalho fez o agrupamento de toda a linha de cima em uma linha só*/
}

body *{
  .inter {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
  }
}

/*seletor de ID */
#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;

  /* margin-top: 56px;
     margin-right: auto;
     margin-bottom: auto;
     margin-left: auto;

     margin: 56px auto 0px auto; ele vai alinhar no sentido do relogio ou seja 
     56px = margin-top: 56px;
     auto = margin-right: auto;
     0px  = margin-bottom: auto;
     auto = margin-left: auto;
     ou seja posição e valores passados dentro do margin vai ser aplicado as margin mencionadas acimas com seus respectivos valores
  */
}
/*profile*/
#profile {
  text-align: center; /* utilizado pra centralizar em block quando esta inline*/
  padding: 24px; /* preenchimentos do box */
}

#profile img {
  /* display: block se estiver em block ele nao aceita alinhar para centro direita ou esquerda no comando text-align */
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
/*switch*/
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
  
}

#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;/*quando usado o termo absolute ele faz uma sobreposição de camadas*/
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);/* eixo Y pode movimentar o elemento pra cima e pra baixo */
}

.light #switch button {
  right: 0;
  left: initial; 
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--sufarce-color) ;
  border: 1px solid var(--stroke-color) ;
  border-radius: 9999px;
}

/*links - lista */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}
ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;
  /* utilizado para colocar a cor de fundo no caso aqui esta sendo utilizado no fundo de um button */
  background: var(--sufarce-color);
  /* utilizado para fazer a borda */
  border: 1px solid var(--stroke-color);
  /* deixar a borda de um elemento arredondado */
  border-radius: 8px;
  /* utilizado para instanciar os navegadores que podem ser acessados pelo link */
  backdrop-filter: blur(4px);
  /* utilizado para instanciar o navegador safari 9 */
  -webkit-backdrop-filter: blur(4px);
  /*usado esse termo para tirar o sublinhado ou inserir uma linha abaixo ao meio ou acima do text*/
  text-decoration: none;
  /*tamanho da font */
  font-weight: 500;

  transition: backgorund 0.2s;
}
/* pseudo-selector */
ul li a:hover {
  /* utilizado para colocar a cor de fundo no caso aqui esta sendo utilizado no fundo de um button */
  background: var(--sufarce-color-hover);
  /* utilizado para fazer a borda */
  border: 1.5px solid var(--text-color);
}

/* social links */
#social-links {
  display: flex; /* para deixar um ao lado do outro usado o flex pra habilitar o gap */
  justify-content: center; /* alinha os icones ao meio */
  padding: 24px 0; /* utilizado para espaçar os icones em cima e pro lado */
  font-size: 24px; /* utilizado para aumentar o tamanho dos icones na tela */
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}
#social-links a:hover {
  /* utilizado para colocar a cor de fundo no caso aqui esta sendo utilizado no fundo de um button */
  background: var(--highlight-color);
}
footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
}

